body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #2e2e31;
  font-weight: 300;
}

a:hover {
  color: #8338ec;
}

header {
  padding: 25px 0;
  width: 100%;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  transition: 0.4s;
  z-index: 1;
  /* Flex */
  display: flex;
  justify-content: center;
}

.menu-navegacion ul {
  list-style: none;
  text-transform: uppercase;
}
.menu-navegacion li {
  padding: 30;
}
