.html{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}
.mari{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}
.mari{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}
.mari{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}
.mari{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}
.mari{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}
.mari{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}
.mari{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}
.mari{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}
.mari{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}
.mari{
    color: red;
}
 .clara{
    color: pink;
}
.erika{
    color: blue;
}